/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log
terraform/
.idea/
output/

# ignore bundlers vendor dir
/vendor/bundle/

# Default ignores for vim editor
.*.sw[a-z]
*.un~
Session.vim
.netrwhist
# Default ignores for emacs editor
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*

